@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

h1 {
  font-family: 'Noto Serif TC', serif;
  color: black;
  font-size: 21pt;
}
h1.title {
  font-family: 'Noto Serif TC', serif;
  color: black;
  font-size: 21pt;
}

h3.subtitle {
  font-family: 'Noto Serif TC', serif;
  color: #233468;
  margin-top: 5px;
  font-size: 10pt !important;
}
h4.author {
  color: #233468;
  opacity: 0.9;
  font-size: 9pt !important;
}
h4.date {
  color: #233468;
  opacity: 0.9;
  padding-bottom: 10px;
  font-size: 9pt !important;
}
h2 {
  font-family: 'Noto Serif TC', serif;
  font-size: 17pt!important;
  color: #1c253c;
}
    
h3 {
  font-family: 'Noto Serif TC', serif;
  font-size: 13pt !important;
  color: #233468;
}

h4 {
  font-family: 'Noto Serif TC', serif;
  font-size: 12pt !important;
  font-weight: bold;
  color: #294B9A;
}
h5 {
  font-family: 'Noto Serif TC', serif;
  font-size: 11pt !important;
  font-weight: bold;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 11pt;
  color: black;
}


p {
   font-size: 11pt;
   line-height: 1.5em;
   color: black;
   font-family: "Times New Roman", Times, serif;
}

p.caption {
  font-size: 9.6pt;
  color: black;
  font-family: PT Sans Caption;
  font-weight: 500;
}

.lp9 {
  font-family: Apercu;
  color:#38BDBB;
  font-size:10.2pt;
}

.lp10 {
  font-family: Apercu;
  color:#5CBD92;
  font-size:10.2pt;
}

.lp11 {
  font-family: Apercu;
  color:#8fbc8f;
  font-size:10.2pt;
}

.lp12 {
  font-family: Apercu;
  color:#008080;
  font-size:10.2pt;
}

.lp13 {
  font-family: Apercu;
  color: #47ca9f;
  font-size: 10.2pt;
}
.lp14 {
  font-family: Apercu;
  color:#aed17b;
  font-size:10.2pt;
}
.lp15 {
  font-family: Apercu;
  color:#34976b;
  font-size:10.2pt;
}
.lp16 {
  font-family: Apercu;
  color:#309ea4;
  font-size:10.2pt;
}
.lp17 {
  font-family: Apercu;
  color:#20696f;
  font-size:10.2pt;
}

pre {
  background-color: #f5f7f8;
  font-family: 'Fira Code', monospace;
  font-size: 9pt;
}
.hljs-literal {
  color: grey; 
    font-weight: 600;
}

.token.italic {
    font-style: italic;
}

.hljs-string{
    color: #1937E0;
    font-weight: 300;
}

.hljs-function{
    color: black;
    font-weight: normal;
}
.hljs-keyword {
    color: #069;
    font-weight: 600;
}
.hljs-class{
    color: black;
    font-weight: 600;
}

.hljs-number{
    color: #2F3754;
    font-weight: 600;
    font-size: 1em;
}
.hljs-title{
    color: #537385;
    font-weight: 550;
}
